body {
    background-color: black;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

svg {
    
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: rgba(255, 255, 255, 1); 
overflow-x: hidden;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(199, 199, 199); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgb(153, 153, 153); 
}


/* WELCOME */

.welcome-container {
    height: 100vh;
    width: 100%;
    display: black;
    position: relative;
}

.nav {
    position: absolute;
    width: 100%;
    height: 70px;
    right: 30px;
    top: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.nav-link {
    display: block;
    font-size: 30px;
    text-decoration: none;
    color: white;
    margin: 0 17px;
}

.nav-link:hover {
    color: rgb(189, 189, 189);
    transition: 0.25s;
}

.nav-link:not( :hover ) {
    transition: 0.25s;
}

.welcome-container::after {
    content: "";
    background-image: url(../images/leagueWorlds.jpeg);
    background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
    opacity: 0.15;
}

.welcome-text {
    margin: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 40%;
    display: flex;
    flex-direction: column;
}

.welcome-header {
    font-size: 5rem;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.welcome-sub-header {
    margin-top: 20px;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    color: white;
}

/* ABOUT */

.twitchalytics-info-container {
    width: 100vw;
    height: 1000px;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.twitchalytics-logo-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.twitchalytics-about {
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    text-align: center;
    padding-top: 40px;
}

.twitch-logo-container {
    height: 200px;
    width: 200px;
}

.twitch-logo {
    max-width: 100%;
}

.twitch-description {
    font-family: 'Roboto', sans-serif;
    width: 50%;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
    min-width: 630px;
    max-width: 630px;
}

.alytics {
    margin-top: 60px;
}

.data-image-container {
    margin-top: 40px;
    height: 150px;
    width: 300px;
}

.data-image {
    width: 100%;
}

/* INFO HEADER */

.twitch-stat-header {
    color: white;
    font-size: 3rem;
    text-align: center;
    padding-top: 40px;

}



/* VIEWERS */

.twitch-viewers-container {
    width: 100vw;
    height: 850px;
    background-color: #9147ff;
}

#viewers-svg > svg {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 797px;
}

.viewers-y-label {
    position: absolute;
    color: white;
    bottom: 200px;
    left: 100px;
    transform: rotate(-90deg);
}

g text {
    color: white;
    font-size: 12px;
}

g line {
    stroke: #9147ff;
}

.viewers-x path {
    stroke: #9147ff;
}

.viewers-y path {
    stroke: #949494;
}

.bar {
    fill: #b5ff47;
}

.bar:hover {
    cursor: pointer;
    fill: #ff6c47;
}

.viewer-tooltip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 170px;
    color: white;
    font-weight: 500;
    background-color: #ff6c47;
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.twitch-viewers-description {
    width: 50%;
    min-width: 630px;
    max-width: 630px;
    margin: 50px auto 0;
    color: white;
}

.twitch-stat-source {
    width: 50%;
    min-width: 630px;
    max-width: 630px;
    margin: 30px auto 0;
    color: white;
    font-size: 14px;
    font-style: italic;
}

/* GROWTH */

.twitch-growth-container {
    width: 100vw;
    height: 800px;
    background-color: #5d349b;
}



/* GAMES */

.twitch-games-container {
    width: 100vw;
    height: 900px;
    background-color: #5d349b;
}

#games-svg > svg {
    position: relative;
    display: block;
    margin: 0 auto;
}

#games-svg {
    pointer-events: none;
    width: 100vw;
    height: 500px;
}

.game-name {
    fill: white;
}

.game-tooltip {
    height: 70px;
    width: 200px;
    margin: 0 auto;
    color: white;
    position: relative;
    font-size: 13px;
    top: 150px;
}

.game-tooltip-section {
    display: flex;
    justify-content: space-between;
}

.game-tooltip-game {
    font-size: 20px;
}

.twitch-games-description {
    width: 50%;
    min-width: 630px;
    max-width: 630px;
    margin: 0px auto 0;
    color: white;
}


/* ACHIEVEMENTS */

.twitch-achievements-container {
    width: 100vw;
    height: 1000px;
    background-color: #33195a;
}

.achievements-content {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 100px auto 0;
}

.twitch-achievement {
    width: 360px;
    margin: 20px;
    height: 350px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.4);
}

.twitch-achievement:hover {
    background-color: rgb(207, 207, 207); 
    transition: 0.25s;
    cursor: pointer;
}

.twitch-achievement:not( :hover ) {
    transition: 0.25s;
}

.twitch-achievement-year {
    font-size: 24px;
    padding: 10px;
}

.twitch-achievement-detail {
    align-items: center;
    margin: 20px auto 10px;
    padding: 10px 30px 0;
    font-size: 14px;
    border-top: 1px solid #e0e0e0;
    
}

/* FOOTER */

.twitch-footer-container {
    width: 100%;
    height: 70px;
    background-color: #201038;

}

.footer-nav {
    width: 70%;
    margin: 0 auto;
    height: 70px;
    right: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}