body {
    background-color: black;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

// SCROLLBAR //

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: rgba(255, 255, 255, 1); 
overflow-x: hidden;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(199, 199, 199); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgb(153, 153, 153); 
}


// WELCOME //

.welcome-container {
    height: 100vh;
    width: 100%;
    display: black;
    position: relative;
}

.welcome-container::after {
    content: "";
    background-image: url(../images/leagueWorlds.jpeg);
    background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
    opacity: 0.15;
}

.welcome-text {
    margin: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 40%;
    display: flex;
    flex-direction: column;
}

.welcome-header {
    font-size: 5rem;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.welcome-sub-header {
    margin-top: 20px;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    color: white;
}

// ABOUT // 

.twitchalytics-info-container {
    width: 100vw;
    height: 900px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.twitchalytics-logo-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.twitchalytics-about {
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    text-align: center;
    padding-top: 40px;
}

.twitch-logo-container {
    height: 200px;
    width: 200px;
}

.twitch-logo {
    max-width: 100%;
}

.twitch-description {
    font-family: 'Roboto', sans-serif;
    width: 50%;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
    min-width: 630px;
    max-width: 630px;
}

.alytics {
    margin-top: 60px;
}

.data-image-container {
    margin-top: 40px;
    height: 150px;
    width: 300px;
}

.data-image {
    width: 100%;
}

// INFO HEADER //

.twitch-stat-header {
    color: white;
    font-size: 3rem;
    position: relative;
    top: 40px;
    left: 40px;
}



// VIEWERS // 

.twitch-viewers-container {
    width: 100vw;
    height: 800px;
    background-color: #9147ff;
}

#viewers-svg > svg {
    display: block;
    margin: 0 auto;
    width: 940px;
}

.bars {
    width: 30px;
}

// GROWTH //

.twitch-growth-container {
    width: 100vw;
    height: 800px;
    background-color: #5d349b;
}



// GAMES // 

.twitch-games-container {
    width: 100vw;
    height: 800px;
    background-color: #33195a;
}



// ACHIEVEMENTS //

.twitch-achievements-container {
    width: 100vw;
    height: 800px;
    background-color: #1f1036;
}